/* This applies a styling to the whole webpage structure */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* This applies a styling to the whole body section */

body {
    background-color: #d9dcd6;
}

/* This applies a styling to the whole header section */

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* This styles the h1 within the header */

header h1 {
    display: inline-block;
    font-size: 48px;
}

/* Colour styling applied to the seo in Horiseon within H1 */

header h1 .seo {
    color: #d9dcd6;
}

/* Styling was applied to the navigation bar within the header*/

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* This shows now specific list style was assigned to all buttons on the navigation bar */

header nav ul {
    list-style-type: none;
}

/* This gives a uniform style to all buttons on the navigation bar */

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* This styles each button on the navigation to be colour white */ 

a {
    color: #ffffff;
    text-decoration: none;
}

/* This styles the header image */ 

figure {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* This styles the main section as a whole*/ 

main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* This styles each section within the main content */
/* Consolidated into 1 term to style all 3 sections*/

.main-section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* This styles the all images within the main section */

.main-section img {
    max-height: 200px;
}

/* This styles the sections to left */ 

.float-left {
    float: left;
    margin-right: 25px;
}

/* This is styling all h2 within the main section */

.main-section h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* This styles all paragraphs in one uniform font */ 

p {
    font-size: 16px;
}

/* This styles the sections to right */ 

.float-right {
    float: right;
    margin-left: 25px;
}

/* This styles the sidebar */ 

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* This styles each section within the sidebar */ 
/* Consolidated into 1 term to style all 3 sections*/

.aside-benefit {
    margin-bottom: 32px;
    color: #ffffff;
}

/* This styles all h3 within the sidebar */ 

.aside-benefit h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* This styles all images within the sidebar */ 

.aside-benefit img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* This is a footer style section */ 

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
} 

/* This is a footer style section for the h2 specifically */ 

footer h4 {
    font-size: 20px;
}
